
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 37 100% 95%;
    --foreground: 38 30% 20%;
 
    --card: 37 100% 98%;
    --card-foreground: 38 30% 20%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
 
    --primary: 38 65% 50%;
    --primary-foreground: 40 100% 97%;
 
    --secondary: 38 40% 92%;
    --secondary-foreground: 39 30% 25%;
 
    --muted: 38 20% 90%;
    --muted-foreground: 38 10% 40%;
 
    --accent: 38 40% 92%;
    --accent-foreground: 38 30% 25%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 38 30% 80%;
    --input: 38 30% 90%;
    --ring: 38 65% 50%;
 
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 38 25% 10%;
    --foreground: 38 10% 90%;
 
    --card: 38 20% 15%;
    --card-foreground: 38 10% 90%;
 
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 38 65% 50%;
    --primary-foreground: 40 100% 97%;
 
    --secondary: 38 15% 25%;
    --secondary-foreground: 38 10% 90%;
 
    --muted: 38 15% 25%;
    --muted-foreground: 38 10% 70%;
 
    --accent: 38 15% 25%;
    --accent-foreground: 38 10% 90%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 38 25% 25%;
    --input: 38 25% 25%;
    --ring: 38 65% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
